* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}
body {
  background: rgb(211, 208, 208);
}
.app_wrapper {
  margin: 0 auto;
  max-width: 1200px;
}

.menu_wrapper {
  display: flex;
  height: 50px;
}
