.panel {
  position: absolute;
  right: 0;
  user-select: none;
  height: 50px;
  display: flex;
  justify-content: center;
  min-width: 30%;
  border-left: 1px solid black;

  &__list {
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    list-style: none;
  }
  &__item-wraper {
    text-align: center;
    margin: 5px;
  }

  &__item {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
    height: 40px;
    font-size: 12px;
    background-color: black;
    border: 1px solid black;
    border-radius: 5px;
    color: white;
    text-transform: uppercase;
    padding: 2px 5px 2px 5px;

    user-select: none;
    cursor: pointer;
    transition: 0.3s;
    &:hover {
      background-color: white;
      color: black;
    }
  }
  &__item.active {
    border-bottom: 2px gray solid;
  }
}
