.not-logged-in-panel {
  position: absolute;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  width: 115px;
  user-select: none;
  border-left: 1px solid black;

  &__button {
    background-color: #a435f0;
    border-radius: 3px;
    font-size: 12px;
    text-transform: uppercase;
    padding: 2px 5px 2px 5px;
    margin: 2px;
    user-select: none;
    cursor: pointer;
    transition: 0.3s;
    &:hover {
      background-color: darken(#a435f0, 20%);
    }
  }

  &__item {
    text-decoration: none;
    text-transform: uppercase;
    color: white;
  }
}
.logged-panel {
  position: absolute;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  width: 115px;
  user-select: none;
  border-left: 1px solid black;
  z-index: 1;

  &__button {
    background-color: #a435f0;
    border-radius: 5px;
    height: 30px;
    width: 90px;
    color: white;
    text-transform: uppercase;
    padding: 2px 5px 2px 5px;
    margin: 2px;
    user-select: none;
    cursor: pointer;
    z-index: 1;
    transition: 0.3s;
    &:hover {
      background-color: darken(#a435f0, 20%);
    }
  }

  &__menu-wrapper {
    position: relative;
    top: -45px;
    display: none;
    // background-color: green;
    // border: 1px solid black;
    // background-color: green;

    // height: 300px;

    &--active {
      display: flex;
    }
  }

  &__menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 5px;
    font-size: 20px;
    font-weight: bold;
    margin-top: 50px;
    border: 1px solid black;
    background-color: white;
  }

  &__menu-button {
    border: 1px solid black;
    background-color: black;
    color: white;
    border-radius: 50%;
    margin-top: 4px;
    width: 40px;
    height: 40px;
    font-size: 36px;
    z-index: 5;
    cursor: pointer;
  }
  &__who-logged-in {
    margin-bottom: 10px;
    max-width: 200px;
    font-size: 20px;
    font-weight: bold;
    word-wrap: break-word;
  }
}
