.navigation {
  user-select: none;
  width: 65%;

  &__button {
    display: block;
    font-size: 20px;
    background-color: #a435f0;
    border-radius: 5px;
    color: white;
    text-transform: uppercase;
    padding: 2px 5px 2px 5px;
    user-select: none;
    cursor: pointer;
    transition: 0.3s;
    &:hover {
      background-color: darken(#a435f0, 20%);
    }
  }

  &__list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 50px;
    list-style: none;
  }

  &__item-wraper {
    display: flex;
    width: 30%;
    justify-content: center;
    align-items: center;
  }
  &__item-wraper.active {
    border-bottom: 5px darken(#a435f0, 20%) solid;
    padding-top: 5px;
  }

  &__item {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
    color: black;
  }

  &__burger {
    display: none;
  }

  &__cart {
    font-size: 20px;
    &--active {
      color: red;
    }
  }
}

.fa-stack[data-count]:after {
  position: absolute;
  right: 25%;
  top: 0%;
  content: attr(data-count);
  font-size: 10px;
  padding: 5px;
  border-radius: 999px;
  line-height: 0.75em;
  color: red;
  text-align: center;
  min-width: 1em;
  background: white;
  border: 1px solid red;
}

.desktopOnly {
  display: block;
}

.telOnly {
  display: none;
}

@media (max-width: 320px) {
  .telOnly {
    display: block;
  }
  .desktopOnly {
    display: none;
  }
  .navigation {
    position: relative;
    width: 40%;
    z-index: 1;

    &__list {
      flex-direction: column;
      list-style: none;
      background-color: grey;
      opacity: 0.9;
      height: 20vh;
    }
    &__item-wraper {
      width: 100%;
      display: flex;
      text-align: center;
    }

    &__item {
      text-decoration: none;
      text-transform: uppercase;
      font-size: 12px;
      color: white;
    }
    &__burger {
      display: flex;
      background-color: white;
      color: black;
      border: none;
      font-size: 20px;
    }
    &__cart {
      font-size: 20px;
    }
    &__comment {
      margin: 30px;
    }
  }

  .fa-stack[data-count]:after {
    right: 0%;
  }
}
