.productsList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  &__button {
    background-color: black;
    border: 1px solid black;
    border-radius: 5px;
    color: white;
    text-transform: uppercase;
    padding: 2px 5px 2px 5px;
    user-select: none;
    cursor: pointer;
    transition: 0.3s;
    &:hover {
      background-color: white;
      color: black;
    }
  }

  &__searchInput {
    width: 100%;
    font-size: 16px;
    padding: 12px 20px 12px 40px;
    border: 1px solid black;
    margin: 10px;
  }

  &__categoryContainer {
    ul {
      list-style: none;
    }

    li span {
      border: 1px solid #ddd;
      background-color: #f6f6f6;
      padding: 10px;
      text-decoration: none;
      font-size: 18px;
      color: black;
      display: block;
      cursor: pointer;
    }

    li span:hover {
      background-color: black;
      color: white;
    }
    @media (pointer: fine) {
      & .active {
        background-color: black;
        color: white;
      }
    }
  }

  @media (max-width: 574px) {
    flex-direction: column;
  }
}
