.product {
  border: 1px solid black;
  width: 300px;
  padding: 15px 5px;
  margin: 5px;
  text-align: center;

  &__commentList {
    &_userComment {
      margin: 20px 5px;

      &_input {
        max-height: 150px;

        overflow-y: scroll;
        word-wrap: break-word;
      }
    }
  }

  &__button {
    background-color: black;
    border: 1px solid black;
    border-radius: 5px;
    color: white;
    text-transform: uppercase;
    padding: 2px 5px 2px 5px;
    user-select: none;
    cursor: pointer;
    transition: 0.3s;
    &:hover {
      background-color: white;
      color: black;
    }
    &-right {
      position: absolute;
      top: 1%;
      right: 1%;
    }
  }

  &__biggerButton {
    font-size: 20px;
    color: yellow;
    &:hover {
      background-color: yellow;
      color: black;
    }
  }

  &__title {
    padding: 5px;
    font-weight: bold;
    font-size: 20px;
  }
  &__price {
    padding: 5px;
  }
  &__authors {
    padding: 5px;
  }
  &__rating {
    padding: 5px;
    &_panel {
      padding: 5px;
    }
  }
  &__status {
    padding-top: 10px;
    font-weight: bold;
  }
  &__imgContainer {
    height: 210px;
    position: relative;
    overflow: hidden;

    img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
  &__comment {
    margin: 30px;
  }
  &__rating {
    margin: 20px;
  }

  &__formInput {
    width: 90%;
    height: 100px;
    margin: 5px 0 5px 0;
  }

  &__modal {
    width: 70%;
    height: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.921);
    overflow-y: scroll;
    text-align: center;
  }
}

.test {
  background: none;
  border: none;
}
