.shoppingCart {
  &__productsList {
    display: flex;
    flex-direction: column;
  }
  &__product-container {
    width: 80%;
    // height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 10px;
    border: 1px solid black;
  }

  &__product-delete_button {
    font-size: 30px;
    background: none;
    border: none;
    cursor: pointer;
    margin: 10px;
  }

  &__product-info {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    span {
      margin: 5px;
    }
  }

  &__product-img-container {
    width: 150px;
    position: relative;
    overflow: hidden;
    // background-color: red;
  }
  &__product-img {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &__button {
    display: block;
    width: 200px;
    height: 50px;
    font-size: 20px;
    margin: 100px auto 10px auto;
    background-color: black;
    border: 1px solid black;
    border-radius: 5px;
    color: white;
    text-transform: uppercase;
    padding: 2px 5px 2px 5px;
    user-select: none;
    cursor: pointer;
    transition: 0.3s;
    &:hover {
      background-color: white;
      color: black;
    }
  }
}
