.shoppingCart {
  &__productList {
    display: flex;
    flex-direction: column;
  }
  &__product-container {
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
    margin: 10px;
  }

  &__product-button {
    height: 50%;
    background-color: black;
    border: 1px solid black;
    border-radius: 5px;
    color: white;
    text-transform: uppercase;
    padding: 2px 5px 2px 5px;
    user-select: none;
    cursor: pointer;
    transition: 0.3s;
    &:hover {
      background-color: white;
      color: black;
    }
  }
  &__product-title {
    width: 20%;
  }
  &__product-img-container {
    height: 100%;
    width: 20%;
    position: relative;
    overflow: hidden;
    // background-color: red;
  }
  &__product-img {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &__button {
    display: block;
    width: 200px;
    height: 50px;
    font-size: 20px;
    background-color: black;
    border: 1px solid black;
    border-radius: 5px;
    color: white;
    text-transform: uppercase;
    padding: 2px 5px 2px 5px;
    user-select: none;
    cursor: pointer;
    transition: 0.3s;
    &:hover {
      background-color: white;
      color: black;
    }
  }
}
