.userDataForm {
  &__password-input-container {
    position: relative;
  }

  &__password {
    position: relative;
    width: 200px;
    &--lock-icon {
      position: absolute;
      left: 5px;
      top: 50%;
      transform: translateY(-50%);
      color: grey;
      width: 20px;
    }
  }

  &__login {
    position: relative;
    width: 200px;
    margin-bottom: 3px;
  }

  &__error {
    position: absolute;
    left: 101%;
    width: 300px;
    color: red;
    top: 50%;
    transform: translateY(-50%);
  }

  &__input {
    font-size: 14px;
    width: 200px;
    height: 40px;
    padding-left: 25px;
  }

  &__button {
    background-color: #a435f0;
    border-radius: 3px;
    font-size: 20px;
    text-transform: uppercase;
    padding: 2px 5px 2px 5px;
    margin-top: 5px;
    user-select: none;
    cursor: pointer;
    transition: 0.3s;
    color: white;
    &:hover {
      background-color: darken(#a435f0, 20%);
    }
  }
}
